<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bbs">
	<insert id="insert" parameterType="bbsVO">
		insert into "BBS" values (#{id}, #{title}, #{content}, #{writer})
	</insert>
	
	<!-- <resultMap type="bbsVO" id="r1">
		<result property="no" column="id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="writer" column="writer"/>
	</resultMap> -->
	<select id="select" parameterType="bbsVO" resultType="bbsVO">
	<!-- ORM(Object RDB Mapping) -->
	<!-- bbsVO에 컬럼명과 동일한 변수를 찾아서 set메서드로 값을 넣어줌. -->
		select * from "BBS" where id = #{id}
	</select>
	
	<update id="update" parameterType="bbsVO">
		update "BBS" set writer = #{writer} where id = #{id}
	</update>
	
	<delete id="delete" parameterType="bbsVO">
		delete from "BBS" where id = #{id}
	</delete>
	
	<select id="all" resultType="bbsVO">
		select * from "BBS"
	</select>
</mapper>
