<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bbs">
	<insert id="insert" parameterType="BbsVO">
		insert into "BBS" values (#{id}, #{title}, #{content}, #{writer})
	</insert>
	<select id="select" parameterType="BbsVO">
		select from "BBS" where id = #{id}
	</select>
	<update id="update" parameterType="BbsVO">
		update "BBS" set writer = #{writer} where id = #{id}
	</update>
	<delete id="delete" parameterType="BbsVO">
		delete from "BBS" where id = #{id}
	</delete>
</mapper>
