<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">
	<insert id="insert" parameterType="CommentVO">
		insert into BCOMMENT values (#{cid},#{ccontent},#{cbno},SYSDATE,cno_seq.nextval)
	</insert>
	
	<delete id="delete" parameterType="CommentVO">
		delete from BCOMMENT where id = #{cid}
	</delete>
	
	<update id="update" parameterType="CommentVO">
		update BCOMMENT set tel = #{tel} where id = #{id}
	</update>
	
	<select id = "select" parameterType="CommentVO">
		select * from BCOMMENT where id = #{id}
	</select>
	
	<select id="all" resultType="CommentVO">
		select cid, ccontent, to_char(cdate, 'yyyy-mm-dd hh24:mi:ss') as cdate2, cno from BCOMMENT where cbno = #{cbno} 
	</select>
	
</mapper>
